#toast-container{
position: fixed;
top: 20px;
right: 20px;
}


.toast{
    padding-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 250px;
    background-color: #505050;
    color: white;
    margin-bottom: 20px;
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
   
}

.toast_content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.toast_text{
    width: 80%;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.toast_close{
    padding-left: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.show{
    visibility: visible;
}

.toast.close{
    visibility: hidden;
}

.myProgress {
    margin-top: -15px;
    padding-left: -10px;
    padding-right:-50px;
    width: 100%;
    background-color: #505050;
}

#myBar {
    margin-top: -20px;
    width: 1%;
    height: 6px;
    background-color: #0099FF;
}




